<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236994617810-5p2qtpn4vrdoh14qddtkvdtb3mr5vadt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236994617810-5p2qtpn4vrdoh14qddtkvdtb3mr5vadt</string>
	<key>API_KEY</key>
	<string>AIzaSyD8AN0eTR0pHBTsQKvcU2WDUP9ge9QppOU</string>
	<key>GCM_SENDER_ID</key>
	<string>236994617810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitnessApp</string>
	<key>PROJECT_ID</key>
	<string>pharofit-615e3</string>
	<key>STORAGE_BUCKET</key>
	<string>pharofit-615e3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236994617810:ios:c1f0214d7d6d9e0761280b</string>
</dict>
</plist>